name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag githubactions:$(date +%s)
      
       # Login to Dockerhub
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Push the Docker image
    - name: Push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: samarthshakya/githubactions:$(date +%s)

